    
    
    /* 전체 */

    body {
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    }

    article {
        display: flex;
        flex-direction: column;
    }
    
    .result{
        display: none;
    }

    .copyright-text {
        font-family: "Noto Sans KR", sans-serif;
        font-size: 12px;
        color: #7c7c7c;
    }
    
    /* 시작화면 */


    .start{
        width: 70vh;
        margin: 0 auto;
        margin-top: 80px;
    }

    .question {
        display: none;
    }

    .main-title {
        font-family: 'Song Myung', sans-serif;
        font-size: 26px;
        font-weight: 700;
        color: #7c7c7c;
        border-bottom: 3px solid #7c7c7c;
        border-top: 3px solid #7c7c7c;
        padding: 3vh;
        margin-bottom: 100px;
    }

    .updown-slash {
        width: 166px;
        margin: 0 auto;
    }

    .sub-title {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #ebebeb;
        line-height: 40px;
        width: 100%;
    }

    .start-cover {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-start {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px;
        color:#ff9300;
        background-color: #1f1f1f;
        width: 300px;
        height: 50px;
    }

    .btn-start, .btn-start:visited, .btn-start:active {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 16px;
        color:#ff9300;
        background-color: #1f1f1f;
        border: 3px solid #1f1f1f;
    }

    .btn-start:active, .btn-start:focus {
        font-family: 'Noto Sans KR', sans-serif;
        background-color: #ff9300 !important;
        border:#1f1f1f !important;
        font-size: 16px;
        color:#ffffff;
    }

    .btn-start:hover {
        font-family: 'Noto Sans KR', sans-serif;
        background-color: #ff9300;
        color: #1f1f1f;
        border: 3px solid #ff9300;
    }

    .updown-slash {
        width: 200px;
        height: 10px;
    }


    /* 문제 화면 */

    .btn-answer, .btn-answer:visited, .btn-answer:hover, .btn-answer:active, .btn-answer:focus {
        background-color: #1f1f1f;
        border:#1f1f1f;
        width: 288px;
        margin: 0 auto;
        font-size: 1.1rem;
        color: #ffffff;
    }

    .btn-answer:hover {
        background-color: #ff9300 !important;
        border:#1f1f1f !important;
        width: 288px;
        margin: 0 auto;
        font-size: 1.1rem;
        color: #ffffff;
    }

    .progress-bar {
        background-color: #ff9300;
        width: 100vh;
    }

    .progress {
        background-color: #525764;
    }


    .slash-element {
        width: 16px;
        margin: 0 auto;
    }

    .question-content {
        font-size: 1.2rem;
        color: #ff9300;
    }

    .rectangle {
        width: 288px;
        height: 8px;
        background-color: #383a43;
        margin: 0 auto;
    }
    .mid-rectangle {
        width: 288px;
        height: 1px;
        background-color: #383a43;
        margin: 0 auto;
    }
    .question {
        width: 70vh;
        margin: 0 auto;
    }

    /* 결과 화면 */

    .result-message {
        color: #ff9300;
        margin: auto auto;
        font-size: 1.1rem;
        font-weight: 400;
        margin: 0 auto;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    .result-animal {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2rem;
        font-weight: 500;
        color: #ebebeb;
  
    }

    .result-explain{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 300;
        color: #ff9300;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: normal;
        line-height: 30px;
        align-content: center;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    .share-message {
        font-family: 'Noto Sans KR', sans-serif;
        color:#ffffff;
        font-size: 24px;
        font-weight: 400;
        margin: 0 auto;
    }

    .result {
        width: 70vh;
        margin: 0 auto;
        display: none;
    }

    #img{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }

    .share {
        margin: 0 auto;
    }

    .kakao_ad {
        width: 320px;
        margin: 0 auto;
    }

    .banner {
        display: flex;
        justify-content: center;
        width: 300px;
        margin: 0 auto;
    }

    .banner-img {
        width: 300px;
        height: 405.17px;
    }


    /*SNS 공유*/

    .sns-go {
        display: block;
        margin: 0;
    }

    .sns-go li {
        display:inline-block; 
        margin: 0 5px;
    }

    .sns-go li img {
        border-radius:10px;
    }

    ul{
        padding: 0;
        margin-bottom: 30vh;
    }

