    
    
    /* 전체 */

    


    body {
    background-color: #1f1f1f;
    color: #ffffff;
    }

    html {
        height: -webkit-fill-available;
    }

    article {
        display: flex;
        flex-direction: column;
    }
    
    .result{
        display: none;
    }

    .copyright-text {
        font-family: "Noto Sans KR", sans-serif;
        font-size: 12px;
        color: #7c7c7c;
    }

    button:focus{

        outline:none !important;
    
        box-shadow:none !important;
    
        -webkit-box-shadow:none !important;
    
    }

    input:focus {
        outline:none !important;
    
        box-shadow:none !important;
    
        -webkit-box-shadow:none !important;
    }

    textarea:focus {
        outline:none !important;
    
        box-shadow:none !important;
    
        -webkit-box-shadow:none !important;
    }

    /* 시작화면 */


    .start{
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .question {
        display: none;
    }

    .main-title {
        font-family: 'Song Myung', sans-serif;
        font-size: 26px;
        font-weight: 700;
        color: #7c7c7c;
        border-bottom: 3px solid #7c7c7c;
        border-top: 3px solid #7c7c7c;
        padding: 3vh;
        width: 60%;
        margin: 0 auto;
    }

    .logo{
        width: 170px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .sub-title {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #ebebeb;
        line-height: 40px;
    }

    .start-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        margin: auto;
    }

    .btn-start {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 18px;
        color:#ff9300;
        background-color: #1f1f1f;
        width: 150px;
        height: 20%;
    }

    .btn-start, .btn-start:visited, .btn-start:active {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 18px;
        color:#ff9300;
        background-color: #1f1f1f;
        border: 3px solid #1f1f1f;
    }

    .btn-start:active, .btn-start:focus {
        font-family: 'Noto Sans KR', sans-serif;
        background-color: #ff9300 !important;
        border:#1f1f1f !important;
        font-size: 18px;
        color:#ffffff;
    }

    .btn-start:hover {
        font-family: 'Noto Sans KR', sans-serif;
        background-color: #ff9300;
        color: #1f1f1f;
        border: 3px solid #ff9300;
    }

    .updown-slash {
        width: 150px;
        margin: 0 auto;
        height: 10px;
    }


    /* 문제 화면 */

    .btn-answer, .btn-answer:visited, .btn-answer:active, .btn-answer:focus {
        font-size: 18px;
        font-family: 'Noto Sans KR', sans-serif;
        background-color: #1f1f1f;
        border: 3px solid #1f1f1f;
        width: 288px;
        margin: 0 auto;
        color: #ffffff;
    }

    .btn-answer:hover {
        font-size: 18px;
        font-family: 'Noto Sans KR', sans-serif;
        background-color: #ff9300;
        border: 3px solid #1f1f1f;
        width: 288px;
        margin: 0 auto;
        color: #ffffff;
    }

    .progress-bar {
        background-color: #ff9300;
    }

    .progress {
        background-color: #525764;
        margin: 0 auto;
        width: 400px;
        margin-bottom: 20px;
    }

    .question-content {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
        color: #ff9300;
        width: 400px;
        margin: 0 auto;
    }

    .rectangle {
        width: 288px;
        height: 8px;
        background-color: #383a43;
        margin: 0 auto;
    }

    .mid-rectangle {
        width: 288px;
        height: 1px;
        background-color: #383a43;
        margin: 0 auto;
    }

    .question {
        width: 100%;
        margin: 0 auto;
    }

    .bird-icon {
        width: 20px;
        height: 20px;
        margin: 0 auto;
    }

    /* 결과 화면 */

    .result-message {
        color: #ff9300;
        margin: auto auto;
        font-size: 1.1rem;
        font-weight: 400;
        margin: 0 auto;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    .result-animal {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 2rem;
        font-weight: 500;
        color: #ebebeb;
  
    }

    .result-explain{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 300;
        color: #ff9300;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: normal;
        line-height: 30px;
        align-content: center;
        width: 1000px;
        margin: 0 auto;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    .share-message {
        font-family: 'Noto Sans KR', sans-serif;
        color:#ffffff;
        font-size: 24px;
        font-weight: 400;
        margin: 0 auto;
    }

    .result {
        width: 100%;
        margin: 0 auto;
        display: none;
    }

    #img{
        width: 250px;
        object-fit: cover;
        margin: 0 auto;
    }

    .share {
        margin: 0 auto;
    }

    .kakao_ad {
        width: 320px;
        margin: 0 auto;
    }

    .banner {
        display: flex;
        justify-content: center;
        width: 300px;
        margin: 0 auto;
    }

    .banner-img {
        width: 300px;
        height: 405.17px;
    }


    /*SNS 공유*/

    .sns-go {
        display: block;
        margin: 0;
    }

    .sns-go li {
        display:inline-block; 
        margin: 0 5px;
    }

    .sns-go li img {
        border-radius:10px;
    }

    ul{
        padding: 0;
        margin-bottom: 30vh;
    }


/*푸터*/

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

/*미디어 쿼리*/

@media (max-width: 768px) {
    

    .start{
        width: 100%;
        margin: 0 auto;
        margin-top: 5px;
    }

    .logo{
        width: 50%;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .main-title {
        font-family: 'Song Myung', sans-serif;
        font-size: 60;
        font-weight: 700;
        color: #7c7c7c;
        border-bottom: 3px solid #7c7c7c;
        border-top: 3px solid #7c7c7c;
        padding: 3vh;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .sub-title {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 18px;
        font-weight: 500;
        color: #ebebeb;
        line-height: 40px;
    }

    .question-content {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
        color: #ff9300;
        width: 100%;
        margin: 0 auto;
    }

    .progress-bar {
        background-color: #ff9300;
    }

    .progress {
        background-color: #525764;
        margin: 0 auto;
        width: 80%;
    }

    .result-explain{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 300;
        color: #ff9300;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: normal;
        line-height: 30px;
        align-content: center;
        width: 100%;
        margin: 0 auto;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }


}

